.text_field {
    padding: 10px;
}

.text_field label {
    margin-left: 30px;
    display: block;
    float: left;
    width: 80px;
    height: 15px;
}

.change_data_button {
    margin: 20px;
}

.href_admin {
    margin-left: 30px;
    display: block;
}

.title_admin_panel {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 70px;
    text-align: center;
}

.change_data_doctor {
    margin-left: 30px;
}

#inputHistory {
    width: 90%;
    margin-top: 15px;
}

.table-patient {
    margin-left: 14px;
    width: 98%;
}

.patient-field {
    text-decoration: underline;
    font-weight: bold;
}