.text_field {
    padding: 10px;
}

.text_field label {
    margin-left: 30px;
    display: block;
    float: left;
    width: 80px;
    height: 15px;
}

.change_data_button {
    margin: 20px;
}

.href_admin {
    margin-left: 30px;
    display: block;
}

.title_admin_panel {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 70px;
    text-align: center;
}

.change_data_doctor {
    margin-left: 30px;
}

#inputHistory {
    width: 90%;
    margin-top: 15px;
}

.table-patient {
    margin-left: 14px;
    width: 98%;
}

.patient-field {
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}

.table-borderless {
    border: 0;
}

.row-info div{
    padding: 16px 0px 0px 8px;
    line-height: 1.428571429;
    vertical-align: top;
}

.row-info div:nth-child(2) {
    border-bottom: 1px solid gray;
    font-style: italic;
    font-size: 110%;
    height: 38px;

}

.row-info div:first-child {
    font: bold 120% Times New Roman;
}

figure {
    width: 285px;
    margin: 25px;
    display: inline-block;
}

figure p {
    font: italic 110% western;
}

figure img {
    width: 100%;
}

.inline-btn {
    vertical-align: middle;
    display: inline-block;
    margin: 10px;
}

table td:first-child, td:last-child{
    width: 1%;
    text-align: right;
    white-space: nowrap;
}

.info-underline {
    text-decoration: underline;
    white-space: pre-wrap;
    display: inline-block;
    padding: 10px 0px 0px 10px;
    line-height: 2.3;
    font-style: italic;
    font-size: 110%;
}

.block {
    display: inline-block;
    margin: 30px;
}

.block img {
    width: 30%;
    margin-left: 100px;
    float: left;
}

.block-edit {
    margin: 50px 50px 30px;
}

.block-edit div:first-child {
    width: 100%;
}

.date-edit {
    width: 50%;
    margin: 40px 40px 40px 75px;
}

.search-form {
    width: 60%;
    margin: 10px;
}